
body {
  font-family: Arial, sans-serif;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.contenedor {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
input, button {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}
button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  display:blocK;
  margin: 10px auto;
}

.fila{
    display: block;
}
.contenedor2 input {
    width: 50px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}